/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 20%;
    background-color: #05445E;
    display: flex;
}

.header-left {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-left h1 {
    color: #ffffff;
}

.header-right {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-right a {
    color: #ffffff;
    text-decoration: none;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
}

.main-content {
    display: flex;
    flex-direction: row;
    width: 80%; 
    height: 100%; 
}

.photo-section {
    width: 30%;
    height: 100%;
}

.photo-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.welcome-section {
    width: 70%;
    height: 100%;
    text-align: center; 
    font-size: 1.2em; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.welcome-section h2 {
    margin-bottom: 20px; /* Adjust this value as per your requirement */
  }

.welcome-section p {
    margin-bottom: 20px; 
}

.footer {
    width: 100%;
    height: 15%;
    background-color: black;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    padding: 0 20px; 
    color: #05445E;
}

.footer p {
    color: #a9c7d4;
    font-size: 18px;
}

.link-section {
    display: flex;
    justify-content: space-around; 
    width: 30%; 
}

.footer p, .link {
    color: #a9c7d4; 
    font-weight: bold;
}

/* ABOUT ME */

.about-section {
    background-image: url('images/harris-about-me.jpeg');
    background-position: center; /* Centralize the background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    padding: 50px; /* Adjust as needed */
    height: calc(100% - 20%); /* Subtract the height of the header */
    min-height: 400px; /* Add a minimum height to ensure readability */
}

/* DATA */

/* Applies to all projects */
/* First, define the basic project layout */

.data-content {
    width: 90%;
    margin: auto;
}

.project {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
}
  
.project-description {
    width: 60%;
    padding: 1em;
    height: 300px; /* Make it match the height of the .project-images container */
    overflow: auto; /* Add scroll bars if the content overflows the container */
}  

.project-description p {
    text-align: justify;
    margin-bottom: 1em; /* Adjust this value to increase or decrease the space between paragraphs */
}

.project-images {
    width: 40%;
    position: relative;
    height: 375px; /* Control the height of the image container. Adjust this value as needed. */
    overflow: hidden; /* Ensure the images don't overflow the container */
}
  
.project-image {
    position: absolute;
    max-width: 100%; /* Limit the width of the image to the width of its parent container */
    max-height: 100%; /* Limit the height of the image to the height of its parent container */
    object-fit: cover; /* Keep the aspect ratio of the image while filling the container */
}
  
.project-image:nth-child(1) {
    top: 0; /* Position of the first image */
    left: 0; /* Position of the first image */
}
  
.project-image:nth-child(2) {
    top: 20%; /* Position of the second image. Adjust this value to control the degree of overlap. */
    left: 20%; /* Position of the second image. Adjust this value to control the degree of overlap. */
}
  
.project-image:nth-child(3) {
    top: 40%; /* Position of the third image. Adjust this value to control the degree of overlap. */
    left: 40%; /* Position of the third image. Adjust this value to control the degree of overlap. */
}


/* TEACHING */

.main-content {
    width: 90%;
    margin: 0 auto;
}

.teaching-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* This will create 2 columns */
  grid-template-rows: 1fr 1fr; /* This will create 2 rows */
  gap: 2rem; /* This is the space between grid items */
  border: 1px solid #000; /* This is the border around the entire grid */
}

.teaching-experience {
  border: 1px solid #000; /* This is the border around each individual quadrant */
  padding: 1rem; /* This is the space between the content and the border */
}

.teaching-pdf {
  width: 100%;
  height: 60%; /* Adjust as needed */
}

.teaching-title,
.teaching-description {
  margin: 0; /* Removes the default margin */
  padding: 0.5rem 0; /* Adds some space above and below the text */
}
