* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
  }
  
  header {
    width: 100%;
    height: 20%;
    background-color: #189AB4;
    display: flex;
  }
  
  .header-left {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header-left h1 {
    color: #ffffff;
  }
  
  .header-right {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .header-right a {
    color: #ffffff;
    text-decoration: none;
  }
  
  main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .photo-section {
    width: 30%;
  }
  
  .photo-image {
    width: 100%;
    height: auto;
  }
  
  .welcome-section {
    width: 70%;
  }
  
  .icon-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    margin: 0 5px;
  }
  
  .welcome-section::before,
  .welcome-section::after {
    content: "";
    position: absolute;
    width: calc(100% + 20px);
    height: 3px;
    background-color: #189AB4;
  }
  
  .welcome-section::before {
    top: 0;
    left: -10px;
  }
  
  .welcome-section::after {
    bottom: 0;
    left: -10px;
  }
  
  .footer {
    width: 100%;
    height: 15%;
    background-color: #75E6DA;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
  }
  
  .footer p {
    color: #ffffff;
    font-size: 18px;
  }
  